apiVersion: serving.knative.dev/v1
kind: Service
metadata:
  name: mira-service
  annotations:
    run.googleapis.com/ingress: all
spec:
  template:
    metadata:
      annotations:
        autoscaling.knative.dev/minScale: "2"
        autoscaling.knative.dev/maxScale: "10"
    spec:
      containerConcurrency: 80
      containers:
      - image: gcr.io/mira-project/mira:latest
        ports:
        - containerPort: 8080
        env:
        - name: CONCURRENCY
          value: "80"
        resources:
          limits:
            cpu: "2"
            memory: 2Gi
          requests:
            cpu: "1"
            memory: 512Mi
